* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f0e9 ;
    /* color: rgb(216, 147, 53); */
    color: black;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  */
    font-weight: 100;
}

h1, h3, h4, h6{
    font-family: 'Yeseva One', cursive;
}

 p, h2,a, span, button {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    color: rgb(216, 147, 53); 
    text-decoration: none;
    font-weight: 100;
}

h2 {
    color: rgb(216, 147, 53);
    font-weight: 100;
}
p {
    line-height: 200%;
}
/* navigacija */
.container-fluid {
    background-color: rgb(216, 147, 53); 
}


nav {
    margin-top: 10px !important;
        padding: 0 !important;
        display: flex;
        justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header figure {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #f5f0e9 ;
}

figure h1 {
    font-size: 40px;
    display: inline-block;
    font-style: italic;
}

header {
    text-align: center;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}


nav li {
    float: left;
}

nav a {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #f5f0e9 ;
    padding: 10px 20px;
        
}

nav a:hover {
    background-color: #f5f0e9 ;
    color: rgb(216, 147, 53);
    transition: background-color linear 0.75s;
    border-radius: 10px;
}

nav i {
    font-size: 20px;
}

@media (max-width:576px){
    nav {
        padding: 0 !important;
    }

    nav li {
        float: none;
        
    }
    nav a{
        padding: 15px 165px;
        text-align: center;
    }

    nav i {
        font-size: 30px;
    }
    

    figure h1 {
        display: none;
    }

    figure img {
        height: 120px;
    }

}
   



@media (min-width:576px) and (max-width:992px){
    nav {
        padding: 0 !important;
        
    }

    nav li {
        float: none;
        
    }
    nav a{
        padding: 15px 210px;
        text-align: center;
    }

    figure {
        align-items: center;
    }
    figure h1 {
        font-size: 25px;
    }

}

/* podlinkovi */

#podlinkovi {
    margin-left: 130px;
}

#podlinkovi a {
    color: rgb(216, 147, 53);
    padding: 20px 45px;
}

#podlinkovi a:hover {
    background-color: rgb(216, 147, 53);
    color: #f5f0e9;
    padding: 20px 45px;
    transition: background-color linear 0.75s;
    border-radius: 10px;
}

div ul#podlinkovi {
    list-style-type: none;
    
    padding: 0;
}

#podlinkovi li {
    margin-top: 10px;
    display: inline-block;
}

/* content */

.content {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f5f0e9;
    
}



/* portret */

.portreti {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 50px;
}

.portreti article {
    width: 40%;
    float: left;
    margin-left: 20px;
}

.portreti figure {
    width: 58%;
    float: right;
}

.portreti figure img {
    float: right;
    width: 25%;
    margin-left: 10px;
    margin-top: 5px;
}

#portret1 {
    margin-right: 20px;
}

.portreti p {
    margin-top: 20px;
}

/* portret */

/*party */


/* prosidba */

.prosidba {
    float: right;
    clear: both;
    width: 100%;
    margin-top: 50px;
    
}

.prosidba figure {
    width: 60%;
    float: left;
}

.prosidba article {
    width: 40%;
    float: right;
}

.prosidba img {
    float: left;
    margin-top: 5px;
}

#prosidba1 {
    width: 27%;
    margin-left: 20px;
}

#prosidba2, #prosidba3 {
    width: 41.5%;
    margin-left: 10px;
}

#prosidba3 {
    margin-top: 10px;
}


.prosidba p {
    margin-top: 20px;
}



/* prosidba */

/* vjencanje */

.vjencanje {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 50px;
}

.vjencanje article {
    width: 40%;
    float: left;
    margin-left: 20px;
}

.vjencanje figure {
    width: 58%;
    float: right;
}

.vjencanje figure img {
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}

#vjencanje1 {
    width: 30%;
    margin-right: 20px;
}

#vjencanje2, #vjencanje3 {
    width: 46%;
    
}

#vjencanje3 {
    margin-top: 10px;
}

.vjencanje p {
    margin-top: 20px;
}
/* vjencanje */


/* krstenje */

.krstenje {
    float: right;
    clear: both;
    width: 100%;
    margin-top: 50px;
    
}

.krstenje figure {
    width: 58%;
    float: left;
    margin-left: 20px;
}

.krstenje article {
    width: 40%;
    float: right;
}

.krstenje img {
    float: left;
    margin-top: 5px;
    width: 32%;
    margin-right: 20px;
}


.krstenje p {
    margin-top: 20px;
}



/* krstenje */

/* sport */

.sport {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 50px;
}

.sport article {
    width: 40%;
    float: left;
    margin-left: 20px;
}

.sport figure {
    width: 58%;
    float: right;
    
}

.sport figure img {
    float: right;
    width: 26%;
    margin-left: 10px;
    margin-top: 5px;
}

#sport1 {
    margin-right: 20px;
}

.sport p {
    margin-top: 20px;
}

/* sport */



/* ostalo */



.ostalo {
    float: right;
    clear: both;
    width: 100%;
    margin-top: 50px;
    
}

.ostalo figure {
    width: 58%;
    float: left;
    margin-left: 20px;
}

.ostalo article {
    width: 40%;
    float: right;
    margin-right: 20px;
}

.ostalo img {
    float: left;
    margin-top: 5px;
    width: 30%;
    margin-right: 20px;
}


.ostalo p {
    margin-top: 20px;
}

/* ostalo */

/* tablica */

table {
    width: 100%;
    margin: 50px 0px;
}

table, td, th {
    border: 1px solid rgb(216, 147, 53);
    border-collapse: collapse;
    
}

table td.cjenik {
    text-align: center;
    height: 30px;
    padding: 10px;
}

table td {
    width: 240px;    
    text-align: center;
}

table td.prvi,  td.drugi, td.treci, td.cetvrti {
    height: 50px;
}

/* tablica */

/* content */



/*footer*/
footer {
    background-color: rgb(216, 147, 53);
    margin: 0;
    text-align: center;
    color: #f5f0e9;
}

footer p {
    margin: 0;
    padding: 10px 0px;
    font-size: 18px;
}
/*footer*/

.clear {
    clear: both;
}




