* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f0e9 ;
    color: black;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  */
    font-weight: 100;
}
 
h1, h2, h3, h4, h6{
    font-family: 'Yeseva One', cursive;
}

 p, a, span, button {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    color: rgb(216, 147, 53); 
    text-decoration: none;
    font-weight: 100;
}

h2 {
    color: rgb(216, 147, 53);
    font-weight: 100;
}
p {
    line-height: 200%;
}
 /* header */

/* navigacija */
.container-fluid {
    background-color: rgb(216, 147, 53); 
}


nav {
    margin-top: 10px !important;
        padding: 0 !important;
        display: flex;
        justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header figure {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #f5f0e9 ;
}

figure h1 {
    font-size: 40px;
    display: inline-block;
    font-style: italic;
}

header {
    text-align: center;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}


nav li {
    float: left;
}

nav a {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #f5f0e9 ;
    padding: 10px 20px;
        
}

nav a:hover {
    background-color: #f5f0e9 ;
    color: rgb(216, 147, 53);
}

nav i {
    font-size: 20px;
}
@media (max-width:576px){
    nav {
        padding: 0 !important;
    }

    nav li {
        float: none;
        
    }
    nav a{
        padding: 15px 165px;
        text-align: center;
    }

    nav i {
        font-size: 30px;
    }
    

    figure h1 {
        display: none;
    }

    figure img {
        height: 120px;
    }

}

@media (min-width:576px) and (max-width:992px){
    nav {
        padding: 0 !important;
        
    }

    nav li {
        float: none;
        
    }
    nav a{
        padding: 15px 210px;
        text-align: center;
    }

    header figure {
        align-items: center;
    }
    figure h1 {
        font-size: 25px;
    }
}
/* header */

/* stjepan */

.stjepan {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    
}

.stjepan img {
    width: 40%;
}

.stjepan article {
    position: relative;
    left: 550px;
    bottom: 280px;
    width: 40%;
}
/* stjepan */

/* slike */

.slike{
    width: 100%;
    max-width: 1200px;
    position: absolute;
    top: 500px;
}

#vjencanja img, #part2 img, #krstenje img {
    width: 29%;
}

#vjencanja, #part2, #krstenje {
    position: relative;
    top: 80px;
    left: 250px;
}


/* slike */

/*recenzije*/
    .recenzije {
        position: fixed;
        left: 1400px;
        top: 150px;
        width: 25%;
        text-align: center;
    }

    .recenzije h2 {
        margin-bottom: 20px;
    }

    #rec2, #rec3 {
        border-top: 1px solid rgb(216, 147, 53);
        padding-top: 20px;
    }

    h3 {
        color: rgb(216, 147, 53);
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
/*recenzije*/

/*footer*/
footer {
    position: relative;
    top:1600px;
    background-color: rgb(216, 147, 53);
    margin: 0;
    text-align: center;
    color: #f5f0e9;
}

footer p {
    margin: 0;
    padding: 10px 0px;
    font-size: 18px;
}
/*footer*/

iframe {
    position: relative;
    top: 80px;
    left: 600px;
}